databento>=0.78.0
psycopg2-binary>=2.9.9
gspread>=6.0.0
google-auth>=2.27.0
google-auth-httplib2>=0.2.0
google-api-python-client>=2.100.0
python-dotenv>=1.0.1
pytz>=2024.1
pandas>=2.2.0
numpy>=1.26.3
plyer>=2.1.0
